asgiref==3.8.1
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cssselect2==0.7.0
Django==5.1.2
fonttools==4.54.1
idna==3.10
inflect==7.4.0
more-itertools==10.5.0
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.15.0
requests==2.32.3
sqlparse==0.5.1
tinycss2==1.4.0
tinyhtml5==2.0.0
typeguard==4.3.0
typing_extensions==4.12.2
urllib3==2.2.3
weasyprint==63.0
webencodings==0.5.1
zopfli==0.2.3.post1
